body{
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none !important;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
 }
.w-100{
  width: 100%;
}
.pd-0{
  padding: 0px;
}
nav{
  border: none;
  background-color: transparent;
  position: fixed;
}
.navbar-nav {
  margin: 30px;
  font-size: 20px;
  font-weight: 500;
}
.nav>li>a {
  padding: 10px 25px;
}
.navbar-toggle {
  margin-top: 24px;
}
.navbar-inverse {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}
.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #FFF;
}
.user-r{
  width: 200px;
  margin: 30px;
}
.nav > li > a {
  color: white;
}
.banner{
  height: 100vh;
  display: table;
  position: relative;
  background-image: url(../image/large.jpg);
  background-size: cover;
  background-color: rgba(11, 12, 12, 0.57);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding: 0px;
}
.txt-banner{
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  position: relative;
}
.txt-banner h1{
  font-size: 45px;
  padding: 0px 21%;
  font-weight: 500;
}
.prueba{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(78, 126, 184, 0.85);
  color: white;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 28px;
  padding-bottom: 28px;
}
.w-60{
  width: 60%;
  margin: 0px auto;
}
.prueba h2{
  font-size: 30px;
}
.inline-block{
  display: inline-block;
}