@media (min-width: 1200px){
.container {
    width: 100%;
	}
}
@media (min-width: 992px){
.container {
    width: 100%;
	}
}
@media (min-width: 768px){
.container {
    width: 100%;
	}
.banner{
	height: 100vh;
	display: table;
	position: relative;
	background-image: url(../image/large.jpg);
	background-size: cover;
	background-color: rgba(11, 12, 12, 0.57);
	background-blend-mode: color;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	padding: 0px;
	}
}
@media (max-width: 768px){
.navbar-inverse {
 	background-color: rgba(0,0,0,0.8);
	}
}