@media (min-width: 1200px){
.container {
    width: 100%;
	}
}
@media (min-width: 992px){
.container {
    width: 100%;
	}
}
@media (max-width: 768px){
.container {
    width: 100%;
	}
}
@media (max-width: 768px){
.navbar-inverse {
 	background-color: rgba(0,0,0,0.8);
	}
}